{
  "env": {
    "production": {
      "only": [ "src" ],
      "presets": [
        "babel-preset-es2015"
      ],
      "plugins": [
        [ "babel-plugin-unassert" ]
      ]
    },
    "development": {
      "only": [ "src", "test" ],
      "presets": [
        "babel-preset-power-assert"
      ]
    },
    "coverage": {
      "only": [ "src" ],
      "sourceMaps": "inline",
      "plugins": [
        [ "transform-es2015-classes", { "loose": true } ]
      ]
    }
  }
}
