{
  "env": {
    "build": {
      "only": [ "src" ],
      "presets": [
        "es2015"
      ],
      "plugins": [
        "unassert"
      ]
    },
    "development": {
      "presets": [
        "es2015",
        "power-assert"
      ],
    },
    "test": {
      "only": [ "src", "test" ],
      "presets": [
        "power-assert"
      ]
    },
    "cover": {
      "only": [ "src" ],
      "plugins": [
        "istanbul"
      ]
    }
  }
}
