{
  "presets": [
    "es2015"
  ],
  "env": {
    "build": {
      "only": [ "src" ],
      "plugins": [ "unassert" ]
    },
    "development": {
      "presets": [ "power-assert" ]
    },
    "cover": {
      "plugins": [ "istanbul" ]
    }
  }
}
